div
    h1 Contact Us
    div.row
        div.col-sm-8
            form#topMargin(action="" method="post")
                div.contactMargin
                    input#input-name(type="text" placeholder="Name" name="name" required)
                    input#input-email(type="email" placeholder="Email" name="email" required)
                div.contactMargin
                    input#input-subject(type="text" placeholder="Subject" name="subject" required)
                div.contactMargin
                    textarea#input-message(name="message" placeholder="Message" required)
                div.contactMargin
                    button.btn#btn-submit(type="submit") Click to Send
                div.contactMargin#formSubmission       
        div.col-sm-4.text-right   
            div
                p Office:  (724) 966-9256 #[br] Hours Mon - Fri 9:00 am to 1:30 pm #[br] #[br] Sewage Emergency:  (724) 246-4019 
            div.marginBottom
                p PO Box 484 #[br] Nemacolin, PA 15351
