div 
    h1 Customer Information
        
        
div.row
    div.col-xs-8
        h2 Accounts
        p Every owner in the village of Nemacolin is required to establish an account for the services rendered by Nemacolin, Inc. Some rental properties require the tenants to establish an accounts with us. You can download a copy of the approriate form from the list to the right, or call our office to request a copied be mailed to you. 
        
        h2 Service Termination
        p Nemacolin, Inc. serves as the sewage authority for the village, in addition to providing garbage service, streetlights, fire hydrant maintenace, and the community park. Each household is required to pay a fee for the services provided. Failure to pay will result in the termination of your water service. Further information on the procedure for water termination can be found on the download list.
            
        h2 Returned Checks    
        p Like any other utility company, we also have a returned check policy. The fee for a returned check is $50.00, in addition to any charges you may incur from your financial institution. Read more about our policy on the download list.
            
        h2 Waste Removal    
        p Nemacolin, Inc. is a proud supporter of locally owned businesses. Our waste removal contractor is Greene Waste Services located n Greensboro, PA. Garbage service from September until June is every Friday. June through August brings twice weekly pickup, on Tuesdays and Fridays. All households are required, by Cumberland Township ordinance, to have a covered trash receptacle. A copy of the ordinance can be found on the list to the right.
        
        h2 Streetlights
        p Our streetlights have been recently upgraded to energy efficient LED bulbs. If you are having an issue with a streetlight near you, please call West Penn Power at 1-800-686-0021. They will ask for your address and may ask you for the pole number which can usually be found on a metal disk at eye level on the pole. Or, you can report an issue with an online form 
            a( href="https://www.firstenergycorp.com/service_requests/report-lighting-problem.html?form=") here.
    div.col-xs-1       
    div.col-xs-3
        h2 Downloads
        ul
            li 
                a(href"#") Homeowner Application
            li 
                a(href"#") Tenant Application
            li 
                a(href"#") Landlord Release Form
            li 
                a(href"#") Service Termination Policy
            li 
                a(href"#") Returned Check Policy
            li 
                a(href"#") Cumberland Twp Ordinance
            li 
                a(href"#") Frequently Called Phone Numbers