h1 Frequently Asked Questions
    h3 Why don't I get an invoice every month?
    p We don't use an invoicing system. You receive a coupon book at the beginning of each year. The coupon is to be filed out and mailed with your payment.
    
    h3 When is my bill due?
    p You have until the fifth of the following month to pay. For example, if the current month is May, you have until June 5th to send in your payment. Any payments received after the fifth will incur a $2.00 late fee.
    
    h3 Do you have an office where I can pay my bill or a drop box?
    p No. All payments are to be mailed to Nemacolin, Inc., PO Box 484, Nemacolin, PA 15351. DO NOT SEND CASH.
    
    h3 Who do I contact for questions concerning my account?
    p You can call our customer service line at (724) 966-9256. Our office hours are 9:00 am to 1:30 pm, Monday through Friday.
    
    h3 I am having a sewage issue and it is after office hours. Who do I contact?
    p See our troubleshooting guidelines located 
        a(href="/forms/troubleshooting.pdf" target="_new") here. 
        span If your problem persists, you can contact our emergency line at (724) 246-4019.
    
    