footer.site-footer
    div.container
        div.row
            div.col-xs-4
                p &copy; 2017 Nemacolin, Inc.
            div.col-xs-4
            
            div.col-xs-4
                p.text-center designed and powered by 
                    a(href="https://www.smellydogcoding.com") McNeil Squared
