div#footer
    div#footerleft                 
      a(href="index.html") Home |
      a(href="index.html") About Us |
      a(href="index.html") Products |
      a(href="index.html") Services |
      a(href="index.html") Price Guide |
      a(href="index.html") Locations |
      a(href="index.html") News |
      a(href="index.html") Contact Us

div#footerright       
      Copyright &copy; 2011 Your Company Name
      <// PLEASE LEAVE THIS SECTION UNCHANGED, THIS HAS TO BE UNCHANGED TO ALLOW YOU TO USE THIS TEMPLATE FOR FREE
      a(href="http://www.richlyn.co.uk" title="Web Design Sheffield") Web Design Sheffield 
      by 
      a(href="http://www.richlyn.co.uk" title="Sheffield Web Design") Richlyn Systems Ltd.      