header.site-header
    div.container
        a#branding(href="")
            img(src="images/logo2_corner.png" alt="Nemacolin, Inc.")
            small.site-description est. 1946
        nav.main-navigation
            button.toggle-menu(type="button") 
                i.fa.fa-bars
            ul.menu
                li.menu-item
                    a(href="/index") Home
                li.menu-item
                    a(href="/customer") Customer Info
                li.menu-item
                    a(href="/park") Park 
                li.menu-item
                    a(href="/faq") FAQ    
                li.menu-item
                    a(href="/contact") Contact
        div.mobile-menu