header
    div.container-fluid.navbar.navbar-fixed-top
        div.container
            div.row
                div.col-xs-12.col-sm-6
                    a.navbar-brand(href="/")
                        img(src="images/logo.png" alt="Nemacolin, Inc.")
                        p.site-description est. 1946
                div.col-xs-12.col-sm-6
                    nav.main-navigation
                        ul.menu.nav.navbar-nav
                            if title === 'Nemacolin, Inc.'
                                li.menu-item.current-menu-item.text-center
                                    a(href="/") Home
                            else
                                li.menu-item.text-center
                                    a(href="/") Home

                            if title === 'Customer Info'
                                li.menu-item.current-menu-item.text-center
                                    a(href="/customer") Customer Info
                            else
                                li.menu-item.text-center
                                    a(href="/customer") Customer Info

                            if title === 'Park'
                                li.menu-item.current-menu-item.text-center
                                    a(href="/park") Park
                            else
                                li.menu-item.text-center
                                    a(href="/park") Park

                            if title === 'FAQ'
                                li.menu-item.current-menu-item.text-center
                                    a(href="/faq") FAQ
                            else
                                li.menu-item.text-center
                                    a(href="/faq") FAQ

                            if title === 'Contact'
                                li.menu-item.current-menu-item.text-center
                                    a(href="/contact") Contact
                            else
                                li.menu-item.text-center
                                    a(href="/contact") Contact