div#maincontent-left
    h1 sheffield web design
    img(src="images/photo.jpg" alt="Web Design Sheffield" style="float: right; margin: 0px 0px 15px 15px; width: 230px; height: 150px;")

    p Richlyn Systems, 
        a(href="http://www.richlyn.co.uk" title="Sheffield Web Design") Sheffield Web Design, 
        specialises in Web Design, Web Based Systems, E-commerce systems,
            a(href="http://www.richlyn.co.uk/Bespoke-Software/" title="Bespoke Software") Bespoke Software
        and Property Management Systems. 
    p This website design template download includes images, a stylesheet and an index page. All you have to do is download and edit the text where necessary in the index page. You can copy and rename the index page as many times as you like to create additional pages for your website.
    
    p Richlyn Systems,
        a(href="http://www.richlyn.co.uk" title="Sheffield Web Design") Sheffield Web Design
        has designed this professional looking website design template so that it will work for any business.
    p The website design template gives you the opportunity to have a professional looking website consisting of:
      ul
        li a simple but effective menu structure
        li a large introduction image for each page next to the menu
        li a large left column for page information
        li an area in the header to include your company logo and slogan
        li a well constructed right hand column to display latest news clearly to your customers.
    p This template has been designed to validate to W3C's CSS and XHTML 1.0 standard. Find out more about standards at 
        a(href="http://www.w3.org/">The World Wide Web Consortium) (W3C) an international community that develops standards to ensure the long-term growth of the Web. 