div#maincontent-right
    h1 news                    
    p.newsitem
        span.newstitle-holder
            span.newsdate 13th Nov 2010
            span.newstitle
                a(href="http://www.richlyn.co.uk/Richlyn-News/arabic-language-added-to-frax") Arabic language added to FRAX
        Sheffield University approached Richlyn Systems' Sheffield Website Design team to further expand their FRAX tool with the addition of the Arabic language.
    p.newsitem
        span.newstitle-holder
            span.newsdate 15th Oct 2010
            span.newstitle
                a(href="http://www.richlyn.co.uk/Richlyn-News/stokes-tiles-web-design-update") Stokes Tiles Web Design Update
        Richlyns Sheffield web design team have completed updates to the Stokes Tiles website. Stokes Tiles requested a range of new facilities to further improve their website.
    p.newsitem
        span.newstitle-holder
            span.newsdate 18th Aug 2010
            span.newstitle
               a(href="http://www.richlyn.co.uk/Richlyn-News/lx-engineering-website-goes-live") LX Engineering Website Goes Live                 
        LX Engineering, a mechanical and electrical engineering firm with a history of successful projects in most market sectors. LX Engineering requested a website from Richlyn.