div.row
    div.col-xs-12.col-sm-7
        h1 Nemacolin, Inc.
        img(src="images/school.png" alt="Nemacolin School" style="float: right; margin: 0px 0px 15px 15px; width: 230px; height: 150px;")

        p Welcome to Nemacolin, Inc. We are a non-profit corporation established in 1946. Every homeowner in the village of Nemacolin is a stakeholder in the corporation. We are governed by an executive board of seven members, elected by the community.

        p We maintain the sewage service, garbage service, streetlights, fire hydrant maintenance, and community property of the village.

        p Our regular meetings are held the first Monday of the month. We meet at 6:30 pm at the Nemacolin Volunteer Fire Department. Town meetings are held quarterly, in March, June, September, and December. The meetings begin  at 7:00 pm.
        p This website provides information on:
          ul
            li Garbage Service
            li Sewage Service
            li Information for new members of the community
            li Information for owners of rental properties in the village
            li Detailed information about our community park
            li News that effects our community
        p Please feel free to explore our site to see what we do for our community!
    div.col-sm-2
    div.col-xs-12.col-sm-3
        h1 Nemacolin News                    
        p.newsitem
            span.newstitle-holder
                span.newsdate Mar 22, 2017
                span.newstitle
                    a(href="") New Streetlights to Be Installed
        p FirstEnergy will be working on our streetlights, replacing the fixtures and upgrading to LED bulbs. The work will take approximately 1 week. We appreciate your patience and consideration as the workers make our town brighter and more energy efficient.
        p.newsitem
            span.newstitle-holder
                span.newsdate Mar 21, 2017
                span.newstitle
                    a(href="") Cumberland TWP Clean Up Days
        p Cumberland Township has extended service to Nemacolin for its annual Clean Up Days, taking place the weekend of April 1st and April 2nd. Dumpsters will be available at the far end of the park, near the ball field. Residents are encouraged to take advantage of these dumpsters and get their homes ready for spring!
        p.newsitem
            span.newstitle-holder
                span.newsdate Mar 21, 2017
                span.newstitle
                   a(href="http://www.co.greene.pa.us/secured/gc2/news-articles/flyers/2017/2017%20Electronics%20Recycling-flyer.pdf" target="_blank") Greene County Quarterly Electronics Recycling                 
        p Quarterly collection site at the Greene County Fairgrounds, Arena Barn from noon to 3:00 pm on the following Wednesdays:   March 29 ✦ June 14 ✦ August 30 ✦ October 18, 2017.   Event is sponsored by State Representative Pam Snyder and the Greene County Commissioners, Blair Zimmerman, Dave Coder, and Archie Trader. Legislative staff will be on hand to answer questions on state-related programs such as CHIP or Property Tax/Rent Rebate. FMI, call Greene County recycling coordinator, Mimi Ritenour at 724-852-5300 or Rep. Pam Snyder's office at 724-966-8953. Click title for event flyer with description of accepted & not-accepted items.