div#header.content
    div#logo
        a(href="http://www.richlyn.co.uk" title="Web Design Sheffield")
    div#header-right
        span insert your company slogan  
    div#intro.content
        div#intro-left
            img(src="images/intro.jpg" alt="Web Design Sheffield")
        div#intro-right                
            ul.nav
                li
                    a.selected(href="/index") Home
                li
                    a(href="/index") About Us        
                li
                    a(href="/index") Products
                li
                    a(href="/index") Services
                li
                    a(href="/index") Price Guide
                li
                    a(href="/index") Locations
                li
                    a(href="/index") News
                li
                    a(href="/index") Contact Us