div
    h1 Nemacolin Community Park
div.row
    div.col-xs-4
        img(src="images/slide.png" alt="horses")
        h2 The Playground
        p Nemacolin is the only community in Cumberland Township that owns and operates its own park. We have a number of play areas on the property, as well as our own softball field and basketball court. Residents are welcome in our park from dawn until dusk, 365 days a year.
        
    div.col-xs-4
        img(src="images/pavilion.png" alt="pavilion")
        h2 The Pavilion
        p We have a covered pavilion that is a terrific site for birthday parties, graduation parties, and family gatherings. Housing eight picnic tables that are accessible from all sides, our pavilion stands as the centerpiece of the park. All community members are welcome to use the pavilion on a first come, first served basis. If you would like information on reserving the pavilion for your next function, please click       
            a(href="/forms/pavilionRentalInfo.pdf" target="_blank") here.
        p For a reservation agreement, click 
            a(href="/forms/pavilionRentalApp.pdf" target="_new") here.
        
    div.col-xs-4
        img(src="images/ballfield.png" alt="ball park")
        h2 The Ball Field
        p Our ball field has had quite a makeover in the last few years. We now host King Coal Little League team practice and King Coal Softball League practice. If you are interested in reserving our field, please click 
            a(href="/forms/guidebook2017.pdf" target="_blank") here.