include ./partials/_head.pug
body
    div#wrap
        include ./partials/_nav.pug
        div#main-content
            include ./partials/_mainLeft
            include ./partials/_mainRight
        include ./partials/_footer.pug