<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
    <title>Richlyn Systems | Sheffield Web Design</title>
    <meta name="description" content="website design template designed by Richlyn Systems, Sheffield Website Design" /> 
    <meta name="keywords" content="Sheffield Website Design Template" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
    <div id="wrap">
        
        <div id="header" class="content">
            <div id="logo"><a href="http://www.richlyn.co.uk" title="Web Design Sheffield"></a></div>
            <div id="header-right"><span style="color: #FFAB20;">insert</span> your company slogan</div>
        </div>
        
        <div id="intro" class="content">
            <div id="intro-left"><img src="images/intro.jpg" alt="Web Design Sheffield" /></div>
            <div id="intro-right">                
                <ul class="nav">
                    <li><a href="index.html" class="selected">Home</a></li>
                    <li><a href="index.html">About Us</a></li>        
                    <li><a href="index.html">Products</a></li>
                    <li><a href="index.html">Services</a></li>
                    <li><a href="index.html">Price Guide</a></li>
                    <li><a href="index.html">Locations</a></li>
                    <li><a href="index.html">News</a></li>
                    <li><a href="index.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
   
        <div id="maincontent">
        
            <div id="maincontent-left">
                <h1>sheffield web design</h1>
                <img src="images/photo.jpg" alt="Web Design Sheffield" style="float: right; margin: 0px 0px 15px 15px; width: 230px; height: 150px;"/>
                
                <p>Richlyn Systems, <a href="http://www.richlyn.co.uk" title="Sheffield Web Design">Sheffield Web Design</a>, specialises in Web Design,
                Web Based Systems, E-commerce systems, <a href="http://www.richlyn.co.uk/Bespoke-Software/" title="Bespoke Software">Bespoke Software</a> and Property Management Systems. </p>
                <p>This website design template download includes images, a stylesheet and an index page. All you have to do is download and edit the text where necessary in the
                index page. You can copy and rename the index page as many times as you like to create additional pages for your website.</p>                  
                <br />
                
                <h1 class="underline">web design</h1>
                <p>Richlyn Systems, <a href="http://www.richlyn.co.uk" title="Sheffield Web Design">Sheffield Web Design</a> has designed this professional looking website design template so that it will work for any business.</p>
                <p>The website design template gives you the opportunity to have a professional looking website consisting of:</p>
                <ul>
                      <li>a simple but effective menu structure</li>
                      <li>a large introduction image for each page next to the menu</li>
                      <li>a large left column for page information</li>
                      <li>an area in the header to include your company logo and slogan</li>
                      <li>a well constructed right hand column to display latest news clearly to your customers.</li>
                </ul>
                <p>This template has been designed to validate to W3C's CSS and XHTML 1.0 standard. Find out more about standards at <a href="http://www.w3.org/">The World Wide Web Consortium</a> (W3C) an international community that develops standards to ensure the long-term growth of the Web.</p>                        
            </div>
            
            <div id="maincontent-right">
                <h1>news</h1>                    
                
                <p class="newsitem">
                    <span class="newstitle-holder">
                        <span class="newsdate">13<sup>th</sup> Nov 2010</span>
                        <span class="newstitle"><a href="http://www.richlyn.co.uk/Richlyn-News/arabic-language-added-to-frax">Arabic language added to FRAX</a></span>
                    </span>
                    Sheffield University approached Richlyn Systems' Sheffield Website Design team to further expand their FRAX tool with the addition of the Arabic language.
                </p>
                <p class="newsitem">   
                    <span class="newstitle-holder">
                        <span class="newsdate">15<sup>th</sup> Oct 2010</span>
                        <span class="newstitle"><a href="http://www.richlyn.co.uk/Richlyn-News/stokes-tiles-web-design-update">Stokes Tiles Web Design Update</a></span>                    
                    </span>
                    Richlyns' Sheffield web design team have completed updates to the Stokes Tiles website. Stokes Tiles requested a range of new facilities to further improve their website.
                </p>
                <p class="newsitem">   
                    <span class="newstitle-holder">
                        <span class="newsdate">18<sup>th</sup> Aug 2010</span>
                        <span class="newstitle"><a href="http://www.richlyn.co.uk/Richlyn-News/lx-engineering-website-goes-live">LX Engineering Website Goes Live</a></span>
                    </span>                    
                    LX Engineering, a mechanical and electrical engineering firm with a history of successful projects in most market sectors. LX Engineering requested a website from Richlyn.
                </p>
            </div>
                 
        </div>
    </div>
    
    <div id="footer">
            <div id="footerleft">                 
                  <a href="index.html">Home</a> |
                  <a href="index.html">About Us</a> |
                  <a href="index.html">Products</a> |
                  <a href="index.html">Services</a> |
                  <a href="index.html">Price Guide</a> |
                  <a href="index.html">Locations</a> |
                  <a href="index.html">News</a> |
                  <a href="index.html">Contact Us</a>
            </div>
            <div id="footerright">       
                  Copyright &copy; 2011 Your Company Name<br />
                  <!-- PLEASE LEAVE THIS SECTION UNCHANGED, THIS HAS TO BE UNCHANGED TO ALLOW YOU TO USE THIS TEMPLATE FOR FREE -->
                  <a href="http://www.richlyn.co.uk" title="Web Design Sheffield">Web Design Sheffield</a> by <a href="http://www.richlyn.co.uk" title="Sheffield Web Design">Richlyn Systems Ltd</a>
                  <!--END-->           
            </div>
      
      </div>
</body>
</html>