body {
    padding-top: 130px;
}

.navbar {
    background-color: #555;
    min-height: 130px;
    border-bottom: 2px solid red;
}

/******HOME PAGE TWO COLUMN SPREAD *******/
#maincontent{ overflow: hidden; height: 100%;}

#maincontent-left {
    float: left;
    width: 570px;
    padding: 20px;
    background: #ffffff;
    text-align: justify;
}

#maincontent-right{
    float: right;
    width: 270px;
    padding: 20px;
    background: #ffffff;
}  
.newsitem{
    overflow: hidden;
    height: 100%;
    margin-bottom: 20px;
}

.newstitle-holder{
    display: block; 
    overflow: hidden; 
    height: 100%;
}

.newstitle{
    display: block;
    float: left;
    width: 190px; 
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}
.newstitle a{color: #333;}

.newsdate{
    display: block;
    float: right;
    width: 75px;
    padding-bottom: 5px;
    font-size: 11px;
    text-align: right;
}

/******CONTACT PAGE *******/

#contact {
    margin:0;
    padding: 15px 0px 10px 30px;
    font-weight: bold;
}

textarea {
    height: 126px;
    width: 80%;
}
input, textarea {   
    border-radius: 8px;
}

#input-name, #input-email  {
    width: 39%;
}

#input-subject, #btn-submit  {
    width: 80%;
}

.contactMargin {
    margin-bottom: 10px;
    margin-left: 30px;
}

.iconMargin {
    margin-right: 25px;
}

#topMargin {
    margin-top: 30px;
}

#input-email{
    margin-left: 2%;
}

#btn-submit {
    font-weight: bold;
    height: 50px;
    border: 2px solid red;
}

#visual {
    padding-right: 8px;
}

#formSubmission {
    width: 77.5%;
    border: 3px solid red;
    margin-left: 1.5em;
    margin-bottom: 1.0em;
    padding: 0.5em;
    text-align: center;
    font-weight: 600;
    color: #000;
    border-radius: 5px;
    font-size: 1.25em;
}

.site-footer{
    border-top: 2px solid red;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}
